.tab.tab-actions-right.sizing-fit.has-icon.tab-border-top.active {
    height: 3px;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
}