version: "3.7"
services:
  docker-registry-host:
    container_name: docker-registry-host
    image: registry
    build:
      context: ./auth/
      dockerfile: Dockerfile
    ports:
      - 7676:5000
    environment:
      USER: admin
      PASSWORD: 12345aA@
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: basic-realm
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    volumes:
      - ./registry-data:/var/lib/registry
    networks:
      - my-network

  docker-registry-host-web-ui:
    image: konradkleine/docker-registry-frontend:v2
    container_name: docker-registry-host-web-ui
    environment:
      ENV_DOCKER_REGISTRY_HOST: docker-registry-host
      ENV_DOCKER_REGISTRY_PORT: 5000
    ports:
      - 7677:80
    networks:
      - my-network

networks:
  my-network:
    external: true
